@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bad+Script&family=Handlee&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: rgba(253, 245, 235, 1);
    color: rgb(77, 75, 75);
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* coloca el contenido uno debajo del otro */
    justify-content: center;
    /* centra verticalmente */
    align-items: center;
    /* centra horizontalmente */
    text-align: center;
    /* PENDIENTE */
    padding: 0px 300px;
}

header h1 {
    font-family: "Bad Script", cursive;
    font-weight: 500;
    /* grosor, ejemplo bold, 400, 700 */
    font-style: normal;
    font-size: 6vw;
    /* aumentar o disminuir tamaño letra */
    letter-spacing: -1px;
    /* espaciado entre letras */
    word-spacing: -2px;
    /* espaciado entre palabras */
    color: #03453d;
    margin: 0;
}

header h2 {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: rgb(70, 70, 70);
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 0 0;
    margin: 24px;
    padding: 14px;
}

header li {
    list-style: none;
}

nav {
    position: fixed;
    /* fixed se queda siempre visible respecto a la ventana, mientras que sticky solo se pega dentro de su contenedor al hacer scroll */
    top: 0;
    background-color: rgba(253, 245, 235, 0.745);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 2px solid rgb(196, 172, 212);*/
}

nav img {
    /*height: 16%;*/
    width: 12%;
    filter: contrast(200%) saturate(70%);
    padding: 5px;
    /*background-color: rgba(255, 255, 255, 0.822)*/
}

nav ul {
    display: flex;
    gap: 35px;
    /* espacio entre elementos */
    list-style: none;
}

nav li a {
    padding: 10px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 17px;
    color: #03453d;
}

nav li a:hover {
    border-bottom: 1px solid #3d423c;
    color: #3d423c;
    background-color: #3d423c0c;
}

.titulo-servicios-habitaciones {
    margin-top: 90px;
}

.titulo-servicios-habitaciones h3 {
    margin: 50px 0;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3vw;
    color: #03453d;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin: 0;
}

.listado-servicios-habitaciones {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-items: center; ----REVISAR*/
    padding: 0;
    margin: 20px 50px;
}

.listado-servicios-habitaciones li {
    width: 70%;
}

.listado-servicios-habitaciones svg {
    height: 60px;
    width: 60px;
}

.listado-servicios-habitaciones p {
    font-size: 13px;
    margin: 0;
    padding: 0 10px;
}

.listado-servicios-habitaciones li::before {
    background-color: #b8aa9b;
    content: "";
    display: block;
    height: 110px;
    /*REVISAR*/
    position: absolute;
    /*top: 0;*/
    width: .5px;
}

.listado-servicios-habitaciones::after {
    content: "";
    /*position: absolute;*/
    width: .5px;
    height: 110px;
    /* igual a tus rayas */
    background-color: #b8aa9b;
}

#wrapper {
    width: 60%;
    /*height: 100%;*/
    margin: 10px auto;
    /*border: 1px solid #d9d9d9;*/
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    centra horizontalmente */
}

.contenedor .cont {
    width: 45%;
    margin: auto 20px;
}

/*.contenedor img {
    width: 800px;
    /*siempre mide 800
    height: auto;
    /*mantener proporción
    max-width: 50%;
    /*se adapta, pero nunca pasa de 500 px
    margin: auto 30px;
}*/

/*oculta inputs*/
input[name="imagenes-habitaciones"] {
    position: absolute;
    left: -1000em;
}

/*estilo de label activo*/
/*input[name="imagenes-habitaciones"]:checked + label {} ----afecta solo a los inputs con ese name*/
/*Cuando un <input> está marcado (checked), aplica estos estilos al <label> que está inmediatamente después de él.*/
input:checked+label {
    text-decoration: underline;
    color: #03453d;
    font-weight: 800;
}

/*ocultar todos los contenedores por defecto*/
.contenedor {
    display: none;
}

/*mostrar contenedor 1 cuando radio 1 esté checked*/
#esencial:checked~.contenedor:nth-of-type(1) {
    display: flex;
}

/*mostrar contenedor 2 cuando radio 2 esté checked*/
#vistamar:checked~.contenedor:nth-of-type(2) {
    display: flex;
}

/*mostrar contenedor 3 cuando radio 3 esté checked*/
#familiar:checked~.contenedor:nth-of-type(3) {
    display: flex;
}

footer {
    background-color: #f5eadb;
    padding: 30px;
}

/*PENDIENTE quitar subrayado links*/

.contacto svg {
    width: 20px;
    height: 20px;
}

/* Footer organizado con Flex*/
#contenedor-caja-footer {
    display: flex;
    justify-content: center;
    gap: 90px;
}

#caja-contacto {
    display: flex;
    flex-direction: column;
    /*white-space: nowrap; /*Propiedad: valor; ---Propiedad que vi en chatGPT para evitar salto de línea */
}

#caja-informacion {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/*-------------------------------------------------------------------------------------*/

/* estilo del contenedor */
.galeria {
    width: 450px;
    /*siempre mide 450 px */
    height: auto;
    /*mantener proporción*/
    margin: auto 0;
    overflow: hidden;
    /* ocultamos lo que sobresalga de las imágenes del contenedor*/
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
    /*border: 5px solid rgba(189, 188, 188, 0.5);*/
}

/* estilo para las imágenes de la galería */
.galeria figure {
    position: absolute;
    /* hace que se superpongan las imágenes */
    top: 0;
    /* colocamos todas arriba */
    left: 60px;
    /* !!Ancho de la parte visible!! */
    width: 400px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.7);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* estilo inicial para la primera imagen. > selector de hijo directo */
.galeria>figure {
    position: relative;
    left: 0 !important;
}

.galeria img {
    display: block;
    /* hace que la imagen se comporte como un bloque (por defecto son elementos en línea) y elimine espacios indeseados */
    width: 100%;
    /* ajusta la imagen para que ocupe todo el ancho del contenedor */
    height: 260px; /*inicialmente no había definido height pero las imagenes correspondientes a la habitacion familiar se desajustaron*/
}

/* estilo para los "controles de navegación" */
.galeria input {
    position: absolute;
    top: 0;
    left: 0;
    /*Los input se colocan encima de las imágenes, alineados en la esquina superior izquierda*/
    width: 60px;
    /*Para cubrir la parte visible de la imagen*/
    height: 100%;
    /* cubre toda la altura del contenedor*/
    cursor: pointer;
    /* Crea un puntero tipo mano, indica que es clickeable*/
    border: 0;
    padding: 0;
    /*border y padding 0 elimina cualquier borde o relleno del input, para que no altere el diseño*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    /*Hace que el input sea invisible y funcional (recibe clics): Las dos primeras líneas son para navegadores antiguos (como Internet Explorer); opacity: 0; es el método moderno (total transparencia) */
    z-index: 100;
    /* Asegura que el input quede por encima de otros elementos, para que los clics lo alcancen*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*Quita el estilo por defecto del navegador (por ejemplo, el cuadrado del checkbox o el círculo del radio)*/
}

/*escondemos el input cuando está seleccionado y evitamos que interfiera al cambiar la imagen*/
.galeria input:checked {
    width: 5px;
    /* Su ancho se reduce a 5px */
    left: auto;
    /* Deja de estar alineado a la izquierda (left: auto) */
    right: 0px;
    /* Se mueve al borde derecho (right: 0px) */
}

/*mueve las imagenes a la izquierda. ~ selecciona los hermanos siguientes al elemento*/
.galeria input:checked~figure {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    left: 335px;
    /**-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;* PENDIENTE/
    /*Cuando un input dentro de .galeria está marcado: todos los figure hermanos que vienen después se mueven 335px a la izquierda/derecha*/
}

/*Cuando un input dentro de .galeria está marcado, aplica estilos a los input que estén dentro de los figure que vienen después de él*/
.galeria input:checked~figure input {
    z-index: 1;
    /*Resumen visual de la lógica
1. La galería tiene varios input y figure alineados.
2. Solo un input puede estar checked (si es tipo radio).
3. Cuando un input está marcado, el z-index del input dentro del siguiente figure sube, haciendo que sea clickeable.
4. Esto permite que al hacer clic en esa área invisible, la galería “avance” a la siguiente imagen.
*/
}

figure {
    margin: 0;
    /*Los <figure> por defecto suelen tener márgenes verticales y horizontales, dependiendo del navegador, al poner margin 0:
    Las imágenes se alinean perfectamente dentro del contenedor .galeria.
    Evita que haya espacios extra entre imágenes o con los bordes del contenedor.*/
}

/*PENDIENTE REVISAR PORQUE QUEDA ABIERTA LA ULTIMA IMAGEN EN VEZ DE LA PRIMERA*/