@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bad+Script&family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bad+Script&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Handlee&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: rgba(253, 245, 235, 1);
    color: rgb(77, 75, 75);
    font-family: "Cormorant Garamond", serif;
}

nav {
    position: fixed;
    /*fixed se queda siempre visible respecto a la ventana, mientras que sticky solo se pega dentro de su contenedor al hacer scroll.*/
    top: 0;
    height: 60px;
    padding: 5px 25px;
    box-sizing: border-box;
    background-color: rgb(253, 245, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 2px solid rgb(196, 172, 212);*/
}

nav img {
    /*height: 16%;*/
    width: 12%;
    filter: contrast(200%) saturate(70%);
    padding: 5px;
    /*background-color: rgba(255, 255, 255, 0.822)*/
}

nav ul {
    display: flex;
    gap: 35px;
    /*espacio entre elementos*/
    list-style: none;
}

nav li a {
    padding: 10px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 17px;
    color: #03453d;
}

nav li a:hover {
    border-bottom: 1px solid #3d423c;
    color: #3d423c;
    background-color: #3d423c0c;
}