@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bad+Script&family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bad+Script&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Handlee&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: rgba(253, 245, 235, 1);
    color: rgb(77, 75, 75);
    font-family: "Cormorant Garamond", serif;
}

header {
    position: relative;
    /* Importante para que los hijos absolutos se posicionen respecto a header */
    height: 100vh;
    width: 100%;
    background-color: rgba(253, 245, 235, 1);
    overflow: hidden;
    /* Evita que el video o la pseudo-capa se desborden */
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 100%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    /*box-sizing: border-box;*/
    /*se calcula ancho y alto incluyendo el padding y el borde dentro del tamaño total del elemento*/
    object-fit: cover;
    /*hace que el video se recorte y escale como una imagen de fondo (similar a background-size: cover*/
    z-index: 0;
    /*Envía el video detrás del contenido */
}

header .contenido-header {
    position: relative;
    top: 40%;
    width: 60%;
    height: 30%;
    margin: auto;
    text-align: center;
    color: #f5eadb;
    z-index: 2;
    letter-spacing: 2px;
    word-spacing: 2px;
    /* background: rgba(135, 193, 207, 0.664); */
}

.contenido-header h1 {
    font-size: 52px;
    font-weight: 400;
}

.contenido-header p {
    font-size: 32px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
}

header::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 100%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.4);
    /* Oscurece un poco el video */
    z-index: 1;
}


/* ===== Nav ===== */
nav {
    position: fixed;
    /*fixed se queda siempre visible respecto a la ventana, mientras que sticky solo se pega dentro de su contenedor al hacer scroll.*/
    top: 0;
    height: 60px;
    width: 100%;
    padding: .2rem 1.56rem;
    box-sizing: border-box;
    background-color: rgb(253, 245, 235);
    /*border-bottom: 2px solid rgb(196, 172, 212);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav img {
    height: 45px;
    /* usar height fijo evita que el logo se vuelva muy pequeño en mobile con % */
    width: auto;
    filter: contrast(150%) saturate(100%);
}

nav ul {
    display: flex;
    gap: 3rem;
    /*espacio entre elementos*/
    list-style: none;
}

nav li a {
    padding: .6rem;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 1.2rem;
    font-weight: 600;
    color: #26382b;
}

nav li a:hover {
    border-bottom: 1.5px solid #26382b;
    color: #26382b;
    letter-spacing: .5px;
    /* pequeño acento sin mover layout */
}

/* botón hamburguesa. Solo se mostrará en mobile, por eso display:none en desktop */
.nav-toggle {
    display: none;
    /* oculto en desktop */
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 5% 20%;*/

}

.galeria-experiencias {
    position: relative;
    /*Sirve como contenedor de referencia cuando un elemento hijo usa position: absolute. El texto se posicionará respecto a este contenedor*/
    margin: 2% 20%;
    width: 50vw;
    /*height: 60vh;*/
    overflow: hidden;
    /* Evita que el video o la pseudo-capa se desborden */
}

.galeria-contenido {
    position: absolute;
    /*Saca al elemento del flujo normal y lo posiciona respecto al primer ancestro con position distinto de static (usualmente relative). Se controla con propiedades como top, left, right, bottom. En otras palabras, se coloca encima*/
    width: 100%;
    height: 550px;
    padding: 15% 10%;
    box-sizing: border-box;
    /*El ancho (width) y alto (height) incluyen el contenido, el padding y el borde del elemento*/
    text-align: center;
    color: #f5eadb;
    letter-spacing: 1px;
    word-spacing: 1px;
    opacity: 0;
    /*Hace que el elemento sea inicialmente invisible (totalmente transparente)*/
}

.galeria-contenido:hover {
    animation: animate 400ms ease-out 1 forwards;
    /*Aplica una animación llamada animate (definida más abajo)*/
    /*Dura 400 milisegundo*/
    /*Usa una transición rápida de aceleración y sueave de desaceleración (ease-out)*/
    /*Se ejecuta una sola vez (1)*/
    /*Con forwards, el elemento mantiene el estilo final de la animación (no vuelve al inicio).*/
    /*Sintaxis general de animation:
    animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction animation-fill-mode animation-play-state;*/
/*animation-name: Define qué animación usar, es decir, a cuál @keyframes se conecta.*/
/*animation-duration: Define cuánto dura la animación. Se expresa en segundos (s) o milisegundos (ms).*/
/*animation-timing-function: Controla cómo cambia la velocidad de la animación durante su duración, ejemplo,ease-in-out: Empieza y termina lento*/
/*animation-delay: Retrasa el inicio de la animación. ---> animation-delay: 1s; /* empieza 1 segundo después */
/*animation-iteration-count: Indica cuántas veces se repite la animación.  ---> animation-iteration-count: infinite;
/*animation-direction: Controla en qué dirección se ejecutan las repeticiones.*/
/*animation-fill-mode: Define cómo se comporta el elemento antes y después de la animación. ---> animation-fill-mode: forwards; /*Mantiene el estilo final (to { ... }).*/
/*animation-play-state: Permite pausar o reanudar una animación.*/
}


@keyframes animate {
    from {
        opacity: 0; /*comienza invisible*/
        transform: translate(0, 100px); /*empieza desplazado 100px hacia abajo.*/
        filter: blur(33px); /*empieza desenfocado.*/
    }

    to {
        opacity: 1; /*termina visible.*/
        transform: translate(0); /*regresa a su posición original.*/
        filter: blur(0); /*se vuelve nítido.*/
    }
}

.galeria-contenido h2 {
    font-size: 30px;
    font-weight: 400;
}

.galeria-contenido p {
    font-size: 20px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
}

/*.galeria-imagen {
    width: 100%;
    height: 550px;
    object-fit: cover;
}*/

.galeria-imagen img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.galeria-experiencias::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 550px;
    object-fit: cover;
}


/* ===== Footer ===== */
footer {
    background-color: #f5eadb;
    padding: 2rem;
    font-size: 1.25rem;
}

/* Contenedor principal */
#contenedor-caja-footer {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

#contenedor-caja-footer a {
    text-decoration: none;
    color: inherit;
    /*color: inherit; = “hereda el color del padre”.*/
}

/* Contenedores información y contacto */
#caja-informacion,
#caja-contacto {
    display: flex;
    flex-direction: column;
    list-style: none;
    /*white-space: nowrap; /* Propiedad que vi en chatGPT para evitar salto de línea */
}

.contacto svg {
    width: 20px;
    height: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    fill: #999;
}

.social-links a:hover {
    fill: #0a574e94;
    transform: scale(1.1);
}